html,body{
	background:#f3efef;
	text-align:center;
	font-family:"Calligraph421 BT";
	border:6px solid #f3efef;
	height:100%;
	font-size: 20px;
}
#recordTable{
	position:relitive;
	margin-left:30%;
	margin-top:2%;
	margin-bottom:2%;
}
#datepicker{
	position:absolute;
	top: 0px;
	left: 0px;
}
#all_think{
	position: absolute;
	left: 2%;
	top: 50%;
}
#thinkContent{
	position: absolute;
	right: 10%;
	top: 10%;
}
#recordContent{
	position: absolute;
	right: 10%;
	top: 10%;
}
#reviewContent{
	position: absolute;
	right: 10%;
	top: 10%;
}
td{
	border-bottom: 1px solid #000;
}